body{background-color: #27AE60;}
#titulo{background-color: #C0392B;color:white;text-align:center;}
.letritaizq{background-color: #C0392B;color:white;text-align:left;}
.letritad{background-color: #C0392B;color:white;text-align:center; font:  150% sans-serif}
p{font-family: cursive;font-style: italic;}
.lista{font-weight: bolder;font-variant: normal;}
.letritac{background-color: #C0392B;color:white;text-align:center}
