body{background-color: #B03A2E}
@font-face {font-family: "mexico"; src: url( ../../fuentes/JOKERMAN.TTF) format("truetype");}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
h1.titulo{color: white;font-style: italic;font-family: "mexico"}
img{width: 5vw}
img.tacopollo{width: 42vw}
p.parrafopollito{color: black;font-style: italic;font-family: font-family: 'Nanum Brush Script', cursive}
.lista{background-position: center; color: black;font-style: italic;}
.letritac{background-color: white; color: black;font-style: italic;}
header{background-image: url(../imagenes/carne.jpg);height: 9vw;background-size:  cover ;}
 aside.lado {margin-top: 1.5%;background-color: #E0E0E0 ;float: right;width: 42.7%; height: 5vw;box-decoration-break: clone;border: 2px solid grey;}
aside.lado1{margin-top: 1.6%;background-color: #E0E0E0 ;float: right;width: 42.7%; height: 100%;box-decoration-break: clone;border: 2px solid grey;}
aside.lado2{margin-top: 60%}
section{width: 53.5%;float: left; margin-right:0;margin-top: 1.5% ;margin-left: 1.5% ;}
section article{margin-left: 1.5%;padding: 20px;margin-bottom: 20px;background-color: #E0E0E0 ;}
a.letritad { margin-left: 10px;width:200px; padding:20px 20px; text-decoration: none;font-size: 20px;margin:10px 50px 10px 105px;background-color: #D0D3D4;background-size: 20px;color:#424949;display: inline-block;box-shadow: 5px 5px 5px 5px #515A5A;border: 5px solid:black}
a:hover{box-shadow: 5px 0px 5px 0px #515A5A;background-color: #196F3D;}
div.iconowpp{ border-radius:50%;width:5vw;height: auto;position: fixed;top: 85%;right: 1%}
div.iconoinsta{ top: 70%;right:1% ;position: fixed;width: 5vw;}


/*telefono vertical*/

@media screen and (min-width:0px) and (max-width:575px){body{background-color: grey}
section{flex: 100% ;width: 100%;flex-direction: column; flex-wrap: wrap; margin-right: 1%;  height: auto;}
aside.lado{display: none;}
aside.lado1{display: none;}
aside.lado2{display: none;}}

/*telefono horizontal*/
 @media screen and (min-width:576px) and (max-width:767px)  {body{background-color: black}
aside.lado{display: none;}}




/*tableta*/
@media screen and (min-width:768px) and (max-width:992px)  {body{background-color: black}
section{flex: 100% ;width: 100%;flex-direction: column; flex-wrap: wrap; margin-right: 1%;  height: auto;}
aside.lado{display: none;}
aside.lado1{display: none;}
 aside.lado2{flex: 100% ; min-width: 30px; max-width: 200px}
img.iconowpp{min-width: 30px; max-width: 200px}
img.iconoinsta{min-width: 30px;max-width: 200px;}}
