body{background: url(../imagenes/marciano.jpg);background-attachment: fixed;}
.titulo{background-color: white;font-style: italic;}
.parrafopollito{color: black;font-style: italic;}
.lista{background-position: center; color: black;font-style: italic;}
.letritac{background-color: white; color: black;font-style: italic;}
header{background-image: url(../imagenes/carne.jpg);height:90px;background-size:  cover ;}
 aside.lado {margin-top: 1.5%;background-color: #E0E0E0 ;float: right;width: 42.7%; height: 100%;box-decoration-break: clone;border: 2px solid grey;}
section{width: 53.5%;float: left; margin-right:0;margin-top: 1.5% ;margin-left: 1.5% ;}
section article{margin-left: 1.5%;padding: 20px;margin-bottom: 20px;background-color: #E0E0E0 ;}
