body{background: url(../imagenes/marciano.jpg);background-attachment: fixed;}
.titulo{background-color: white;font-style: italic;}
.parrafopollito{color: white;font-style: italic;}
.lista{background-position: center; color: white;font-style: italic;}
.letritac{background-color: white; color: black;font-style: italic;}
