body{background-image: url(../imagenes/mexico.jpg);background-attachment: fixed;}
.titulo{background-color: white;font-style: italic;}
.parrafopollito{color: white;font-style: italic;}
.lista{background-position: center; color:#AAB7B8;font-style: italic;}
.letritac{background-color: white; color: black;font-style: italic;}
